.group-directory{
    margin: 0 auto;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    
}

@media screen and (max-width: 1590px){
    .group-directory{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 1060px){
    .group-directory{
        grid-template-columns: 1fr;
    }
}