$sm-margin: 6px;
$b-margin: 20px;

h1{
    width: fit-content;
    margin: auto;
}

#register ul{
    list-style-type: none;
    margin: auto;
    padding: 0;
    width: max-content;        
}

#register ul li{   
    margin-top: $b-margin;
    margin-bottom: $b-margin;   
}

#register ul li input{    
    float: right;
    margin-left: $sm-margin;
}

#submit{
    width: fit-content;
    margin: auto;
}